@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Peralta&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
body {
  /* display: flex; */
  /* justify-content: center center; */
  background-image: url("./pictures/bg.svg");
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
#navbar {
  border: 2px solid black;
  padding-top: 20px;
  line-height: 50px;
  height: 120px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 2px solid white;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  margin-bottom: 10%;
}

/* #navbar h2 {
  animation: heading 0.5s ease-in-out forwards;
  visibility: hidden;
  animation-delay: 1s;
}

@keyframes heading {
  0% {
    transform: translateX(-400px);
  }
} */
.grid-container {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  /* background-color: #2196f3; */
  padding: 5px;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px dotted rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */
  margin: 10px;
  /* transform: rotate(90deg); */
}

/* CSS */
.button1 {
  background-color: #fbeee0;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #837f7a;
  border-radius: 30px;
  /* box-shadow: #422800 4px 4px 0 0; */
  box-shadow: #040404 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  /* font-size: 18px; */
  /* padding: 0 18px; */
  line-height: 50px;
  width: 70px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;

  /* touch-action: manipulation; */
}

.button1:hover {
  background-color: #fff;
}

.button1:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px; /* Height of the footer */
  background: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  border-top: 2px solid white;
}
#footer a {
  text-decoration: none;
  color: rgb(0, 255, 208);
  animation: colorchange 1s infinite;
}
@keyframes colorchange {
  0% {
    color: rgb(0, 255, 208);
  }
  25% {
    color: rgb(150, 50, 100);
  }
  50% {
    color: red;
  }
  75% {
    color: rgb(29, 207, 174);
  }
  100% {
    color: yellow;
  }
}

/* CSS */
.button2 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(37, 8, 42);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button2:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#reset {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  padding-top: 5%;
}
