@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Peralta&display=swap");
* {
  padding: 0px;
  margin: 0px;
}
body {
  /* display: flex; */
  /* justify-content: center center; */
  background-image: url("./pictures/bg.svg");
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
#navbar {
  border: 2px solid black;
  padding-top: 0.625rem;
  line-height: 3.125rem;
  width: 100%;
  height: 7.5rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border-bottom: 2px solid white;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
  font-size: 20px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* margin-bottom: 10%; */
}

.heading {
  animation: heading 0.5s ease-in-out backwards;
  animation-delay: 0.5s;
}
@keyframes heading {
  0% {
    transform: translateX(-400px);
  }
}
.delayed_animations {
  animation: delayed_animations 0.5s ease-in-out backwards;
  /* visibility: hidden; */
  animation-delay: 1s;
}

@keyframes delayed_animations {
  0% {
    transform: translateX(-400px);
  }
}
.delayed_animations2 {
  animation: delayed_animations 0.8s ease-out backwards;
  /* visibility: hidden; */
  animation-delay: 1.3s;
}

@keyframes delayed_animations {
  0% {
    transform: translateX(-500px);
  }
}
.grid-container {
  display: grid;
  width: 100%;
  background-color: transparent;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  /* background-color: #2196f3; */
  /* padding: 2rem; */
  margin-top: 6%;
  margin-bottom: 10%;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px dotted rgba(0, 0, 0, 0.8); */
  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */
  height: 6.25rem;
  padding: 5%;
  /* margin: 5%; */
  /* transform: rotate(90deg); */
}

/* CSS */
.button1 {
  background-color: #fbeee0;
  background-size: 3.125rem 3.125rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #837f7a;
  border-radius: 30px;
  /* box-shadow: #422800 4px 4px 0 0; */
  box-shadow: #040404 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  /* font-size: 18px; */
  /* padding: 0 18px; */
  line-height: 3.125rem;
  width: 4.375rem;
  height: 5.625rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  animation: float 8s ease-in-out infinite;

  /* touch-action: manipulation; */
}

.button1:hover {
  background-color: #fff;
}

.button1:active {
  box-shadow: #000000 2px 2px 0 0;
  transform: translate(2px, 2px);
  animation: float 8s ease-in-out infinite;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6.25rem; /* Height of the footer */
  background: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  border-top: 2px solid white;
  /* margin-top: 10%; */
  padding-top: 8%;
}
#footer a {
  text-decoration: none;
  color: rgb(0, 255, 208);
  animation: colorchange 1s infinite;
}
@keyframes colorchange {
  0% {
    color: rgb(0, 255, 208);
  }
  25% {
    color: rgb(150, 50, 100);
  }
  50% {
    color: red;
  }
  75% {
    color: rgb(29, 207, 174);
  }
  100% {
    color: yellow;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px #040404;
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px #040404;
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px #040404;
    transform: translatey(0px);
  }
}
